.git
.github
.vscode
node_modules
**/node_modules
**/.next
**/dist
**/*.log
**/.env
**/.env.local
**/.env.*.local
**/.env.*
!apps/web/.env.example
!apps/api/.env.example
**/tsconfig.tsbuildinfo
**/eslint_out.txt
programs/target
programs/.keys
coverage
npm-debug.log*
